@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    Example 01 Razor  <br />
    This contains various of examples of razor applications <br />
    And illustrates how to use GitHub.



</div>
